@page "/administrators"
@model Church_App.Pages.ManagementSystem.SystemAdministratorsModel
@{
    ViewData["Title"] = "System Administrators";
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">System Administrators</h4>
            </div>
            <div class="col-sm-8 col-7 text-right m-b-30">
                <button class="btn btn-primary btn-rounded float-right" data-bs-toggle="modal" data-bs-target="#addAdminModal">
                    <i class="fa fa-plus"></i> Add Administrator
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>User's Name</th>
                                <th>Email</th>
                                <th>User's Level</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.applicationUsers)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Role.Name</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editPasswordModal" onclick="setUserId('@item.Id')">
                                                    <i class="fa fa-lock"></i> Change Password
                                                </a>

                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_admin">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                           
                            <!-- More admin entries here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="delete_admin" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <h3>Are you sure you want to delete this administrator?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Administrator Modal -->
<div id="addAdminModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" asp-page-handler="AddAdmin">
                <div class="modal-header">
                    <h4 class="modal-title">Add System Administrator</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User's Name <span class="text-danger">*</span></label>
                                <select asp-for="Acccess.MemberId" class="form-control">
                                    <option value="">Select a User</option>
                                    @foreach (var member in Model.members)
                                    {
                                        <option value="@member.Id">@member.FName @member.LName</option>
                                    }
                                    <!-- More users can be added here -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User's Level <span class="text-danger">*</span></label>
                                < <select asp-for="Acccess.RolId" class="form-control">
                                    <option value="">Select a Level</option>
                                    @foreach (var rol in Model.roles)
                                    {
                                        <option value="@rol.Id">@rol.Name</option>
                                    }
                                    <!-- More levels can be added here -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input asp-for="Acccess.Email" class="form-control" id="Email" />
                                <span asp-validation-for="Acccess.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <input type="password" asp-for="Acccess.Password" class="form-control" id="Password" />
                                <span asp-validation-for="Acccess.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Administrator</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Password Modal -->
<div id="editPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-page-handler="UpdatePassword">
                <div class="modal-header">
                    <h4 class="modal-title">Update Password</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="UpdatePasswordModel.UserId" id="editUserId" />

                    <div class="form-group">
                        <label>New Password</label>
                        <input asp-for="UpdatePasswordModel.NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="UpdatePasswordModel.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input asp-for="UpdatePasswordModel.ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="UpdatePasswordModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
