@page "/visitors"
@model Church_App.Pages.ManagementSystem.VisitorsPageModel
@{
    ViewData["Title"] = "Church Visitors";
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}


<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Church Visitors</h4>
            </div>
            <div class="col-sm-8 col-7 text-right m-b-30">
                <button class="btn btn-primary btn-rounded float-right" data-bs-toggle="modal" data-bs-target="#addVisitorModal">
                    <i class="fa fa-plus"></i> Add Visitor
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Visit Date</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Home Church</th>
                                <th>QRCode</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model.VisitorsList)
                            {
                                <tr>
                                    <td><img src="@v.ImagePath" class="rounded-circle" width="28" height="28"></td>
                                    <td>@v.FName @v.LName</td>
                                    <td>@v.Email</td>
                                    <td>@v.Phone</td>
                                    <td>@v.VisitDate.ToString("MMM dd, yyyy")</td>
                                    <td>@v.Address</td>
                                    <td>@v.City</td>
                                    <td>@v.State</td>
                                    <td>@v.Zipcode</td>
                                    <td>@v.HomeChurch</td>
                                    <td>
                                        <canvas id="qrcode-@v.Id" width="60" height="60"></canvas>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" onclick='editVisitor(@Html.Raw(Json.Serialize(v)))'>
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                                <a class="dropdown-item text-danger" href="#" onclick="confirmDelete('@v.Id')">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="delete_visitor" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" asp-page-handler="DeleteVisitor">
                    <div class="modal-body text-center">
                        <img src="/assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure you want to delete this visitor?</h3>
                        <input type="hidden" name="VisitorId" id="deleteVisitorId" />
                        <div class="m-t-20">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Visitor Modal -->
<div id="addVisitorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" asp-page-handler="AddVisitor" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Add Church Visitor</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            

                            <!-- Visitor Picture Upload -->
                            <div class="position-relative d-inline-block" style="cursor: pointer;">
                                <img id="previewVisitorImage" src="/assets/img/default-user.png"
                                     class="rounded-circle border border-2"
                                     style="width: 120px; height: 120px; object-fit: cover;"
                                     onclick="document.getElementById('visitorFileInput').click()" />

                                <input asp-for="VisitorImage" type="file" accept="image/*"
                                       id="visitorFileInput" class="d-none" onchange="previewVisitorSelectedImage(event)" />
                            </div>

                            <!-- (Optional) Validation Message -->
                            @* <div class="mt-2">
            <span asp-validation-for="VisitorImage" class="text-danger"></span>
        </div> *@
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.FName" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.FName" class="form-control w-100" />
                            <span asp-validation-for="Visitor.FName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.LName" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.LName" class="form-control w-100" />
                            <span asp-validation-for="Visitor.LName" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- JavaScript -->
                    <script>
                        function previewVisitorSelectedImage(event) {
                            const input = event.target;
                            const preview = document.getElementById('previewVisitorImage');

                            if (input.files && input.files[0]) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                    preview.src = e.target.result;
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>


                    <div class="row">
                        
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Email" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.Email" class="form-control w-100" />
                            <span asp-validation-for="Visitor.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Phone" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.Phone" class="form-control w-100" id="visitorPhone" placeholder="+1 (123) 456 - 7890" oninput="applyPhoneMask(this)" />
                            <span asp-validation-for="Visitor.Phone" class="text-danger"></span>
                        </div>

                        <script>
                            function applyPhoneMask(input) {
                                // Remove all non-numeric characters
                                let value = input.value.replace(/\D/g, '');

                                // Apply the masking format
                                if (value.length <= 1) {
                                    input.value = '+' + value;
                                } else if (value.length <= 4) {
                                    input.value = '+1 (' + value.substring(1);
                                } else if (value.length <= 7) {
                                    input.value = '+1 (' + value.substring(1, 4) + ') ' + value.substring(4);
                                } else if (value.length <= 10) {
                                    input.value = '+1 (' + value.substring(1, 4) + ') ' + value.substring(4, 7) + '-' + value.substring(7);
                                } else {
                                    input.value = '+1 (' + value.substring(1, 4) + ') ' + value.substring(4, 7) + '-' + value.substring(7, 10);
                                }
                            }
                        </script>



                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.VisitDate" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.VisitDate" type="date" class="form-control w-100" />
                            <span asp-validation-for="Visitor.VisitDate" class="text-danger"></span>
                        </div>
                       
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.City" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.City" class="form-control w-100" />
                            <span asp-validation-for="Visitor.City" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.State" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.State" class="form-control w-100" />
                            <span asp-validation-for="Visitor.State" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Zipcode" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.Zipcode" class="form-control w-100" />
                            <span asp-validation-for="Visitor.Zipcode" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.HomeChurch" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.HomeChurch" class="form-control w-100" />
                            <span asp-validation-for="Visitor.HomeChurch" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Address" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.Address" class="form-control w-100" />
                            <span asp-validation-for="Visitor.Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Visitor Modal -->
<div id="editVisitorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="editVisitorForm" method="post" asp-page-handler="EditVisitor" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Church Visitor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Visitor.Id" form="editVisitorForm" />
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <label class="form-label mb-2">Visitor's Picture</label>

                            <!-- Edit Visitor Picture Upload -->
                            <div class="position-relative d-inline-block" style="cursor: pointer;">
                                <img id="editPreviewVisitorImage" src="/assets/img/default-user.png"
                                     class="rounded-circle border border-2"
                                     style="width: 150px; height: 150px; object-fit: cover;"
                                     onclick="document.getElementById('editVisitorFileInput').click()" />

                                <input asp-for="VisitorImage" type="file" accept="image/*"
                                       id="editVisitorFileInput" class="d-none" onchange="editPreviewVisitorSelectedImage(event)" />
                            </div>

                        
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.FName" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.FName" class="form-control w-100" />
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.LName" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.LName" class="form-control w-100" />
                        </div>
                    </div>

                    <!-- JavaScript -->
                    <script>
                        function editPreviewVisitorSelectedImage(event) {
                            const input = event.target;
                            const preview = document.getElementById('editPreviewVisitorImage');

                            if (input.files && input.files[0]) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                    preview.src = e.target.result;
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>

                    <div class="row">
                     
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Email" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.Email" class="form-control w-100" />
                        </div>
                    @*     <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Phone" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.Phone" class="form-control" />
                        </div> *@
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Phone" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.Phone" class="form-control w-100" oninput="applyPhoneMask(this)" />
                            <span asp-validation-for="Visitor.Phone" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.VisitDate" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.VisitDate" type="date" class="form-control w-100" />
                        </div>
                      
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.City" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.City" class="form-control w-100" />
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.State" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.State" class="form-control w-100" />
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Zipcode" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.Zipcode" class="form-control w-100" />
                        </div>
                        <div class="col-md-4 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.HomeChurch" class="me-2 mb-0 w-25" > </label>
                            <input asp-for="Visitor.HomeChurch" class="form-control w-100" />
                        </div>
                        <div class="col-md-8 mb-3 d-flex align-items-center">
                            <label asp-for="Visitor.Address" class="me-2 mb-0 w-25"></label>
                            <input asp-for="Visitor.Address" class="form-control w-100" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update Visitor</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Image Preview Script -->
@* <script>
    document.querySelector('input[name="VisitorImage"]').addEventListener('change', function(event) {
        const reader = new FileReader();
        reader.onload = function() {
            document.getElementById('previewVisitorImage').src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script> *@
<script>
    function confirmDelete(visitorId) {
        document.getElementById("deleteVisitorId").value = visitorId;
        var deleteModal = new bootstrap.Modal(document.getElementById('delete_visitor'));
        deleteModal.show();
    }
</script>
<script>
    function editVisitor(visitor) {
        document.querySelector('#editVisitorForm input[name="Visitor.Id"]').value = visitor.id;
        document.querySelector('#editVisitorForm input[name="Visitor.FName"]').value = visitor.fName;
        document.querySelector('#editVisitorForm input[name="Visitor.LName"]').value = visitor.lName;
        document.querySelector('#editVisitorForm input[name="Visitor.Email"]').value = visitor.email;
        document.querySelector('#editVisitorForm input[name="Visitor.Phone"]').value = visitor.phone;
        document.querySelector('#editVisitorForm input[name="Visitor.VisitDate"]').value = visitor.visitDate?.split("T")[0];
        document.querySelector('#editVisitorForm input[name="Visitor.Address"]').value = visitor.address;
        document.querySelector('#editVisitorForm input[name="Visitor.City"]').value = visitor.city;
        document.querySelector('#editVisitorForm input[name="Visitor.State"]').value = visitor.state;
        document.querySelector('#editVisitorForm input[name="Visitor.Zipcode"]').value = visitor.zipcode;
        document.querySelector('#editVisitorForm input[name="Visitor.HomeChurch"]').value = visitor.homeChurch;

        document.getElementById("editPreviewVisitorImage").src = visitor.imagePath || "/assets/img/default-user.png";

        const modal = new bootstrap.Modal(document.getElementById('editVisitorModal'));
        modal.show();
    }
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const vendors = @Html.Raw(Json.Serialize(Model.VisitorsList));

        vendors.forEach(v => {
            const qr = new QRious({
                element: document.getElementById(`qrcode-${v.id}`),
                value: v.email,
                size: 60
            });
        });
    });
</script>